body{
  font-family: Arvo,serif;
  background: url(https://freenaturestock.s3.us-east-1.amazonaws.com/232.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
}
