body{
  font-family: 'Arvo',serif;
  background: url(https://freenaturestock.s3.us-east-1.amazonaws.com/232.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
}
.logo{
  height: 30px;
}
.navbar-inverse{
  background: rgba(0,0,0,.5);
  border: none;
}
.nav li{
  color: white;
  font-size: 17px;
  margin-right: 35px;
  padding: 10px 0px;
}
.nav li:hover{
  border-bottom: 1px solid #00FFB8;
  padding-bottom: 9px;
  cursor: pointer;
}
.jumbotron{
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
  letter-spacing: 2.5px;
}
.bodyimage{
  height: 100px;
}
.col-md-4{
  text-align: center;
  color: white;
}
.container{
  margin-top: 50px;
  max-width: 1000px;
}
.icons p{
  font-size: 15px;
}
.contact{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
.btn{
  background-color:rgba(0,255,184,0.5);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 10px 70px;
  letter-spacing: 1.3px;
}
.btn:hover{
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none
}

.footer{
  background-color: rgba(0,0,0,0.5);
  color:  gray;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 8px;
}

@media (max-width: 768px){
  height: 70px;
}
